extends layout

block content
  h1= title
  
  p Rows: #{query.rows}
  p Cols: #{query.cols}
  
  - let rows = Number(query.rows)
  - let cols = Number(query.cols)
  
  if !Number.isInteger(rows) || !Number.isInteger(cols)
    p Error: Rows and columns must be integers
  else if rows < 3 || rows > 13
    p Error: Rows must be between 3 and 13
  else if cols < 3 || cols > 13
    p Error: Cols must be between 3 and 13
  else
    style.
      table#outer {
        border-collapse: separate;
        border-spacing: 10px;
      }
      table#outer td {
        padding: 10px;
        border: 1px solid black;
        text-align: center;
      }
    table#outer
      - for(let i=0; i<rows; i++) {
        tr#middle
          - for(let j=0; j<cols; j++) {
            td= i + (2 * j)
          - }
      - }
